*{
    margin: 0;
}

:root{
    --h1color:darkslategray;
    --black:black;
    --white:white;
    --bgcolor:rgb(215, 193, 159);
}

header{
    color: var(--h1color);
}

.navbar{
    width: 100%;
}

nav{
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 90px;
}
nav ul {
    display: flex;
    justify-content: space-between;
    gap: 40px; 
    margin-left: 150px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--h1color)   ;
}

nav ul li a:hover {
    text-decoration: underline;
    bottom: 10px;
    background-color: var(--h1color);
    padding: 6px;
    border-radius: 5px;
    color: var(--white);
}


.social a img{
    margin: 0px 5px;
}

.social a img:hover{
    transform: rotate(360deg) scale(1.4);
    transition: all .6s ease;
}

.menu span {
    display: block;
}

.image a{
    text-decoration: none;
    background-color: none;
}


.image {
    position: relative;
    
}

.image img {
    width: 100%;
    height: auto;
}

.name {
    position: absolute;
    top: 160px;
    left: 40px;
    text-align: center;
    color: var(--white);
}

.name h1 {
    font-size: 50px;
    margin: 10px 0;
}

.name h2 {
    font-size: 30px;
    margin: 10px 0;
}

.name button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    background-color: var(--h1color);
    color:var(--white);
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.name button:hover{
    transform:scale(1.1);
    transition: all .3s ease-out;
}


#about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px;
    color: var(--h1color);
}

#about h1{
    font-size: 45px;
}

#about p{
    width: 100%;
}

.skill{
    width: 100%;
    height: 700px;
    background-color:rgb(215, 193, 159);
    display: flex;
    justify-content:center ;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--h1color);
}

.skill p{
    margin-top: 50px;
    width: 90%;
    height: 100px;
}

.skill h1{
    font-size: 45px;
}




.focus{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 75px;
    align-items: center;
    text-align: center;
    flex-wrap: wrap; 
    /* this is wrap */
}

.left{
    margin: 0px 100px;
}

.left h2 b{
    border-bottom: 5px solid;
    width: 100%;
}

.left h2{
    margin: 10px 0px;
}



.right h2 b{
    height: 40px;
    width: 80px;
    background-color: rgb(234, 176, 99);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center  ;
    border-radius: 0px;
}

.rate{
    margin: 10px 10px;
}


.mail img{
    height: 15px;
    width: 15px;
}

.mail p img{
    padding: 10px;
}

.call img{
    height: 15px;
    width: 15px; 
}

.button{
    padding: 10px 20px;
    font-size: 14px;
    background-color: rgb(36, 31, 31);
    color:black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;

}

.button:hover{
    transform:scale(1.1);
    transition: all .3s ease-out;
}

.button a button{
    text-decoration: none;
    color: var(--white);
    background-color: rgb(36, 31, 31);
    border: none;
    cursor: pointer;
}

.links a{
   margin: 0px 5px;
   width: 20px; 
   height: 20px; 
}




.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--h1color);
    color: var(--black);
    width: 100%;
    padding: 10px 0px;
}


.same {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.links {
    display: flex;
    justify-content: flex-end;
}

.links a img:hover{
    transform: rotate(360deg) scale(1.4);
    transition: all .6s ease-in-out;
}


.contact_page{
    background-color: var(--bgcolor);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



/* this is also wrap */

.images img{
    margin: 70px 20px 20px 20px;
    width: 500px;
    height: auto;
    border-radius: 20px;
}

.forms{
    margin: 50px 60px ;
}

.forms h1{
    font-size: 65px;
    color: var(--h1color);
}
form{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-size: 30px;
    width: 450px;
    height: 340px;
    color: var(--h1color);
    border-color:var(--bgcolor);
    border-color:2px solid black;
}


form input{
    font-size: 25px;
    padding: 15px 5px;
    width: 400px;
    border-radius: 5px;
    border: none;
    margin: 15px 0px;
    background-color: var(--bgcolor);
    border-bottom: 1px solid black;
}

.images{
    display: flex;
    align-items: center;
    justify-content: space-around  ;
}

.rate{
    background-color: #fff;
    width: 400px;
    height: 30px;
    margin-left: 10px;
    border-radius: 10px;

}

.right{
    margin: 25px;
}

.right section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
}

.scroll1{
    background-color: rgb(232, 181, 114);
    width: 5px;
    height: 30px;  
    position: relative;                     
    animation-name: html;
    animation-duration: 5s;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
    border-radius: 10px;
}

@keyframes html{
    from{
        width: 10px;
    }
    to{
        width: 300px;
    }
}

.scroll2{
    background-color: rgb(232, 181, 114);
    width: 5px;
    height: 30px;  
    position: relative;                     
    animation-name: css;
    animation-duration: 5s;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
    border-radius: 10px;
}

@keyframes css{
    from{
        width: 10px;
    }
    to{
        width: 250px;
    }
}

.scroll3{
    background-color: rgb(232, 181, 114);
    width: 5px;
    height: 30px;  
    position: relative;                     
    animation-name: js;
    animation-duration: 5s;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
    border-radius: 10px;
}

@keyframes js{
    from{
        width: 10px;
    }
    to{
        width: 30px;
    }
}


.portfolio{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



.smart{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.smart:hover{
    transform: scale(1.2);
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.smart img{
    width: auto ;
    height: 265px;
}

#projects h1 {
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--h1color);
    margin: 50px 0px ;
}

.forms section h1{
    margin: 30px 0px;
}

.same{
    display: flex;
    padding: 7px;
}

.mail img{
    margin-top: 4px;
}

.call img{
    margin-top: 4px;
}
.mail h3{
    margin: 5px;
}

.forms section button{
    width: 150px;
    height: 40px;
    margin-top: 50px;
    cursor: pointer;
    background-color: var(--h1color);
    font-size: 17px;
}

.sub button{
    padding: 10px 20px;
    font-size: 14px;
    background-color: rgb(36, 31, 31);
    color:var(--white);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub button:hover{
    transform: scale(1.1);
    transition: all .3s ease-out;
}





@media (max-width:1000px){
    
    body{
        color: var(--h1color);
    }

    .name {
        position: absolute;
        top: 140px;
        left: 100px;
        text-align: center;
        color: var(--white);
    }

    .name h1 {
        font-size: 35px;
        margin: 10px 0;
    }
    
    .name h2 {
        font-size: 15px;
        margin: 10px 0;
    }
    
    .name button {
        padding: 10px 20px;
        font-size: 8px;
        margin-top: 20px;
        background-color: var(--h1color);
        color: var(--var(--white));
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }
    
    #about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 80px 0px;
        color: var(--h1color);  
    }
    
    #about h1{
        font-size: 55px;
    }
    
    #about p{
        margin-top: 100px ;
        text-align: center;
        width:90%;
    }

    .skill{
        padding-top: 100px;
        width: auto;
        height: auto;
        background-color:rgb(215, 193, 159);
        display: flex;
        justify-content:center ;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: var(--h1color);
    }
    
    .skill p{
        margin-top: 50px;
        width: 90%;
        height: auto;

    }
    
    .skill h1{
        font-size: 55px;
    }

    .left h2 b {
        border-bottom: 5px solid;
        width: 75%;
        display: flex;
        justify-content: center;
    }


    .left h2 {
         display: flex;
        margin: 23px 0px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .right h2 b {
        height: 50px;
        width: 130px;
    }

    .portfolio{
        width: auto;
        margin: 20px;
    }
}


@media(max-width:835px){
    .logo{
        font-size: 65px;
    }

    
    nav ul li{
        display: none;
    }

    .social{
        display: none;
    }
    
    #checkbox img{
        display: flex;
    }

    .menu span {
        display: block;
        width: 35px;
        height: 4px;
        margin: 6px 0;
        background-color: var(--h1color);
        cursor: pointer;
        border-radius: 10px;
    }

    .name {
        position: absolute;
        top: 120px;
        left: 70px;
        text-align: center;
        color: var(--white);
    }

    .name h1 {
        font-size: 30px;
        margin: 10px 0;
    }
    
    .name h2 {
        font-size: 10px;
        margin: 10px 0;
    }
    
    .name button {
        padding: 7px 15px;
        font-size: 6px;
        margin-top: 4px;
        background-color: var(--h1color);
        color: var(--var(--white));
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }

    #about h1 {
        font-size: 48px;
    }

    .skill h1 {
        font-size: 48px;
    }

    .links {
        display: none;
    } 

    

}

@media(max-width:690px){
    .name{
        top: 95px;
        left: 35px;
    }
}

@media(max-width:610px){
    .logo{
        font-size: 60px;
    }

    .rate{
        width: 350px;
    }

    .scroll1{
        background-color: rgb(232, 181, 114);
        width: 5px;
        height: 30px;  
        position: relative;                     
        animation-name: html;
        animation-duration: 5s;
        animation-iteration-count: 2;
        animation-fill-mode: forwards;
        border-radius: 10px;
    }
    
    @keyframes html{
        from{
            width: 5px;
        }
        to{
            width: 260px;
        }
    }
    
    .scroll2{
        background-color: rgb(232, 181, 114);
        width: 5px;
        height: 30px;  
        position: relative;                     
        animation-name: css;
        animation-duration: 5s;
        animation-iteration-count: 2;
        animation-fill-mode: forwards;
        border-radius: 10px;
    }
    
    @keyframes css{
        from{
            width: 5px;
        }
        to{
            width: 220px;
        }
    }
    
    .scroll3{
        background-color: rgb(232, 181, 114);
        width: 5px;
        height: 30px;  
        position: relative;                     
        animation-name: js;
        animation-duration: 5s;
        animation-iteration-count: 2;
        animation-fill-mode: forwards;
        border-radius: 10px;
    }
    
    @keyframes js{
        from{
            width: 5px;
        }
        to{
            width: 25px;
        }
    }


    .menu span {
        display: block;
        width: 30px;
        height: 4px;
        margin: 6px 0;
        background-color: var(--h1color);
        cursor: pointer;
        border-radius: 10px;
    }

    .name {
        position: absolute;
        top: 75px;
        left: 25px;
        text-align: center;
        color: var(--white);
    }
    .name h1{
        font-size: 25px;
    }

    #about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 70px;
        color: var(--h1color);  
    }

    #about h1 {
        font-size: 40px;
    }

    #about p {
        margin-top: 50px;
        text-align: center;
        width: 90%;
    }

    .skill{
        padding-top: 70px;
        width: auto;
        height: auto;
        background-color:rgb(215, 193, 159);
        display: flex;
        justify-content:center ;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: var(--h1color);
    }
    
    
    .skill h1{
        font-size: 40px;
    }

    .left{
        margin: 25px 100px 0px;
    }

    .right h2 b {
        height: 40px;
        width: 90px;
        font-size: 20px;
    }

    #projects h1 {
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--h1color);
        margin-top: 40px ;
    }

    .smart img {
        width: auto;
        height: 200px;
    }

    .links {
        display: none;
    }
    
    .button{
        margin: 10px;
        padding: 8px 5px;
    }

    .mail h3 {
        margin: 5px;
        font-size: 15px;
    }

    .same{
        font-size: 13px;
    }

    .mail img {
        height: 12px;
        width: auto;
        margin-top: 2px;
    }

    .call img {
        height: 12px;
        width: auto;
        margin:0px;
    }

    .button a button{
        padding: 2px 6px;
        font-size: 11px;
    }

}


@media(max-width:570px){

    .images img{
        width: 440px;
        height: 420px;
    }
    
    .forms{
        margin: 0px 0px ;
    }
    
    .forms h1{
        font-size: 45px;
    }

    form{
        font-size: 20px;
        width: 350px;
        height: 240px;
    }

    form input{
        font-size: 15px;
        padding: 10px 5px;
        width: auto;
        margin: 15px 0px;
    }

    .forms section button{
        width: 90px;
        height: 28px;
        margin: 40px 0px;
        font-size: 10px;
    }
    
}

@media(max-width:480px){

    .images img {
        width: 330px;
        height: 317px;
    }

    form {
        font-size: 19px;
        width: 313px;
    }

    .forms h1 {
        font-size: 35px;
    }

    .forms section h1 {
        margin: 30px 0px;
    }
}

@media(max-width:371px){

    .images img {
        width: auto;
        height: 310px;
    }

    .forms section h1 {
        margin: 20px 0px;
    }

    .forms h1 {
        font-size: 30px;
    }

    form {
        font-size: 16px;
        width: 300px;
    }

    form input {
        font-size: 13px;
        padding: 9px 5px;
        width: auto;
        margin: 10px 0px;
    }

    .forms section button {
        width: 76px;
        height: 24px;
        margin: 0px 0px;
        font-size: 8px;
    }

    .contact_page {
        padding: 15px 0px;
    }
}

@media(max-width:505px){
    .name h1{
        font-size: 22px;
    }

    .name{
        top:60px ;
        left: 20px;
    }

    #about{
        margin-top: 65px;
    }

    #about h1 {
        font-size: 32px;
    }

    .skill h1 {
        font-size: 32px;
    }

    .skill {
        padding-top: 55px;
    }   

    .focus{
        margin: 60px;
    }

    .left h2 {
        font-size: 21px;
        margin: 14px 0px;
    }

    .left h2 b{
        border-bottom: 3px solid;
    }

    .left{
        margin: 40px 100px 0px;
    }
    
        .right h2 b {
        height: 29px;
        width: 62px;
        font-size: 16px;
    }

    .rate {
        width: 300px;
        height: 25px;
    }

    .scroll1{
        background-color: rgb(232, 181, 114);
        width: 5px;
        height: 25px;  
        position: relative;                     
        animation-name: html;
        animation-duration: 5s;
        animation-iteration-count: 2;
        animation-fill-mode: forwards;
        border-radius: 10px;
    }
    
    @keyframes html{
        from{
            width: 5px;
        }
        to{
            width: 230px;
        }
    }
    
    .scroll2{
        background-color: rgb(232, 181, 114);
        width: 5px;
        height: 25px;  
        position: relative;                     
        animation-name: css;
        animation-duration: 5s;
        animation-iteration-count: 2;
        animation-fill-mode: forwards;
        border-radius: 10px;
    }
    
    @keyframes css{
        from{
            width: 5px;
        }
        to{
            width: 185px;
        }
    }
    
    .scroll3{
        background-color: rgb(232, 181, 114);
        width: 5px;
        height: 25px;  
        position: relative;                     
        animation-name: js;
        animation-duration: 5s;
        animation-iteration-count: 2;
        animation-fill-mode: forwards;
        border-radius: 10px;
    }
    
    @keyframes js{
        from{
            width: 5px;
        }
        to{
            width: 25px;
        }
    }

    #projects h1 {
        font-size: 32px;
        margin: 15px 0px
    }

    .smart img {
        width: auto;
        height: 175px;

    }

    .button {
        margin: 10px;
        padding: 7px 3px;
    }

}

@media(max-width:435px){
    .logo {
        font-size: 51px;
    }

    .menu span {
        width: 26px;
        height: 3.5px;
        margin: 4px 0px;
    }

    .name h1 {
        font-size: 18px;
    }

    .name {
        top: 52px;
        left: 26px;
    }

    .name h2 {
        font-size: 9px;
        margin: 3px 0;
    }

    .name button{
        font-size: 5px;
        padding: 5px 9px
    }

    #about h1 {
        font-size: 29px;
    }

    #about p {
        font-size: 14px;
        margin-top: 40px;
    }

    .skill h1 {
        font-size: 29px;
    }

    .skill p{
        font-size: 14px;
        margin-top: 40px;
    }

    .left {
        margin: 45px 100px 0px;
    }

    .right h2 b {
        height: 23px;
        width: 54px;
        font-size: 15px;
    }

    .rate {
        width: 230px;
        height: 20px;
        border-radius: 7px;
    }

    .scroll1{
        background-color: rgb(232, 181, 114);
        width: 5px;
        height: 20px;  
        position: relative;                     
        animation-name: html;
        animation-duration: 5s;
        animation-iteration-count: 2;
        animation-fill-mode: forwards;
        border-radius: 7px;
    }
    
    @keyframes html{
        from{
            width: 5px;
        }
        to{
            width: 180px;
        }
    }
    
    .scroll2{
        background-color: rgb(232, 181, 114);
        width: 5px;
        height: 20px;  
        position: relative;                     
        animation-name: css;
        animation-duration: 5s;
        animation-iteration-count: 2;
        animation-fill-mode: forwards;
        border-radius: 7px;
    }
    
    @keyframes css{
        from{
            width: 5px;
        }
        to{
            width: 160px;
        }
    }
    
    .scroll3{
        background-color: rgb(232, 181, 114);
        width: 5px;
        height: 20px;  
        position: relative;                     
        animation-name: js;
        animation-duration: 5s;
        animation-iteration-count: 2;
        animation-fill-mode: forwards;
        border-radius: 7px;
    }
    
    @keyframes js{
        from{
            width: 5px;
        }
        to{
            width: 20px;
        }
    }

    #projects h1 {
        font-size: 32px;
        margin: 10px 0px;
    }

    .smart {
        width: 220px;
        height: 220px;
    }

    .smart img {
        width: auto;
        height: 150px;
    }


}


@media(max-width:380px){
    .logo {
        font-size: 45px;
    }

    .name h1 {
        font-size: 14px;
    }

    .name h2 {
        font-size: 7px;
        margin: 1px 0;
    }

    .name button {
        font-size: 4px;
        padding: 3px 4px;
    }

    #about h1 {
        font-size: 25px;
    }

    #about p {
        font-size: 11px;
        margin-top: 35px;
    }

    .skill h1 {
        font-size: 25px;
    }

    .skill p{
        font-size: 11px;
        margin-top: 35px;
    }

    .left h2 b {
        border-bottom: 3px solid;
        font-size: 16px;
        width: 60%;
    }

    .left h2 {
        font-size: 18px;
        margin: 14px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #projects h1 {
        font-size: 25px;
        margin: 8px 0px;
    }

    .smart img {
        width: auto;
        height: 120px;
    }
}

